<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.iworkout"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iworkout_icon"
        android:label="@string/app_name"
        android:theme="@style/AppThemeTest">
        <activity android:name=".activity.HelloAndroidActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.TrainActivity"
                android:parentActivityName=".activity.HelloAndroidActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HelloAndroidActivity" />
        </activity>

        <activity android:name=".activity.ChooseMuscleActivity"
                android:parentActivityName=".activity.TrainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".TrainActivity" />
        </activity>

        <activity android:name=".activity.ChooseExercicioActivity"
                  android:parentActivityName=".activity.ChooseMuscleActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseMuscleActivity" />
        </activity>

        <activity android:name=".activity.ChooseSerieActivity"
                  android:parentActivityName=".activity.ChooseExercicioActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ChooseExercicioActivity" />
        </activity>
        <activity android:name=".activity.NewTrainActivity"
                  android:parentActivityName=".activity.NewTrainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".NewTrainActivity" />
        </activity>
    </application>

</manifest>